/* html{
  overflow: hidden;
} */
body {
  background-color: #F4F8FD;
}

.mid-container {
  /* padding: 3rem 10%; */
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem;
}

#subscribe {
  padding: 0 1.5rem !important;
}

@media only screen and (max-width: 990px) {
  .mid-container {
    padding: 1rem;
  }
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none;
}

/* Login screen */
.login_wrapper {
  background-image: url('./Asset/three.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 98.7vw;
  height: calc(100vh - 80px);
}

.login_form_image {
  background-image: url('./Asset/three.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.border_radius {
  border-radius: 10px;
  border: 1px solid gray;
}